/* Базові стилі */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #030718;
}
.container {
  max-width: 1440px;
  height: 68px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  align-items: center;
  background-color: #030718;
  padding: 2px 0 2px 80px;
}

.block {
  /* width: 131.83px;
  height: 64px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* margin: 2px 0 2px 80px; */
}

.logo {
  position: relative;
  width: 131.83px;
  height: 64px;

  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative; */
}
.logo1 {
  width: 64.99491882324219px;
  height: 64px;
}
.logo2 {
  position: absolute;
  left: -50px;
  width: 79.60919952392578px;
  height: 33.57051086425781px;
  top: 13.06px;
  left: 52.22px;
  opacity: 1;
  z-index: 10;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #f5f5f5;
}

header nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #fff;
}
.header_bloks {
  display: flex;
  width: auto;
  height: 17px;
  justify-content: center;
  align-items: center;
}

.header_bloks_size_text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.button_login {
  background: #57e1ff;
  width: 86px;
  height: 42px;
  border-radius: 3px;
  border: 1.5px solid #57e1ff;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
  box-shadow: 0px 0px 4px 0px #57e1ff;
}
.button_login:hover,
.button_login:focus,
.button_registration:hover,
.button_registration:focus {
  background: #57e1ff33;
  border-color: #57e1ffff;
  border: 1.5px solid #57e1ff;
  .button_login_span,
  .button_registration_span {
    color: #57e1ff;
  }
}

.button_registration {
  background: #57e1ff;
  width: 146px;
  height: 42px;
  top: 13px;
  left: 1214px;
  angle: 0 deg;
  opacity: 1;
  gap: 8px;
  border-radius: 3px;
  border: 1.5px solid #57e1ff;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
  box-shadow: 0px 0px 4px 0px #57e1ff;
}
.button_login_span,
.button_registration_span {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 98px;

  letter-spacing: 0%;
}

.button_block {
}
