/* Базові стилі */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #030718;
}
.container {
  max-width: 1440px;
  height: 68px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  align-items: center;
  background-color: #030718;
  padding: 2px 0 2px 80px;
}

.block {
  /* width: 131.83px;
  height: 64px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* margin: 2px 0 2px 80px; */
}

.logo {
  position: relative;
  width: 131.83px;
  height: 64px;

  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative; */
}
.logo1 {
  width: 64.99491882324219px;
  height: 64px;
}
.logo2 {
  position: absolute;
  left: -50px;
  width: 79.60919952392578px;
  height: 33.57051086425781px;
  top: 13.06px;
  left: 52.22px;
  opacity: 1;
  z-index: 10;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #f5f5f5;
}

header nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #333;
}
